html{
  background-color: #FFFCE1;
  font-family:sans-serif;
}

body{
  width:80%;
  margin:auto;
  font-size:18px;
}

#mainHeader img{
	width: 40%;
  margin-left:30%;
}

#mainHeader nav{
	background-color: #78B186;
	list-style: none;
  margin-bottom: 1%;
	float:right;
	width:100%;
  line-height: 30px;
}

#mainHeader nav li{
	display: inline-block;
	float:left;
}

#mainHeader nav #home{
	margin-left: 30.5%;
}

#mainHeader nav .activePage{
	background-color:#92CC9F;
}

header nav li a, header nav li a:link, header nav li a:visited{
	color: black;
	height: 30px;
	padding: 9px 20px;
	text-decoration: none;
}

header nav li a:hover, header nav li a:active, header nav li .activePage a:link, header nav .activePage a:visited{
	background-color:#92CC9F;
}

#mainContent{
	background-color: #FFFCE1;
	float:left;
}

#mainContent #asides{
  float:left;
  width:18%;
  background-color: #92CC9F;
  padding:1%;
}

#mainContent #content{
	float: right;
	background-color: #92CC9F;
	width: 76%;
	padding:1%;
}

/**#contact{
	float: left;
	background-color: #8DE57B;
	width: 98%;
	padding:1%;
}**/

#mainFooter{
  float:right;
}

/**responsive**/

@media only screen and (min-width:150px) and (max-width:760px) {

	body{
		width:98%;
	}

	#mainHeader img{
		width: 100%;
		height: auto;
		margin: 2% 0;
	}

	#mainHeader nav{
		height:140px;
		margin-top:0;
		width:100%;
		text-align:center;
	}

	#mainHeader nav li{
	  display:block;
		float:none;
		width:100%;
		margin-left:0;
	}

	#mainHeader nav #home{
		margin-left: 0;
		width: 100%;
  }

	#mainContent #content{
		width:98%;
		margin-top:10px;
	}

	#mainContent #asides{
		width:98%;
		margin-top:10px;
	}

  #contact{
    width:98%;
		margin-top:10px;
  }

	header nav li a, header nav li a:link, header nav li a:visited{
		color:black;
		height:30px;
		padding: 2.5px 0;
		text-decoration:none;
		display:block;
	}

  #mainFooter{
    margin-top:0;
  }
}
